{
  "openapi": "3.0.0",
  "info": {
    "title": "HTML to Markdown Converter",
    "description": "将任何网页即时转换为干净的 Markdown 格式，专为 AI 智能体、开发者及内容处理场景设计。只需提供一个网址，即可获得结构化、无杂质的文本内容。",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "url": "https://markdownapi.ccwu.cc",
      "email": "qianzui_@outlook.com "
    }
  },
  "servers": [
    {
      "url": "https://markdownapi.ccwu.cc",
      "description": "生产环境"
    }
  ],
  "paths": {
    "/api/fetch": {
      "post": {
        "operationId": "convertHtmlToMarkdown",
        "summary": "将网页 URL 转换为 Markdown",
        "description": "发送一个网页地址，返回结构化 Markdown 文本。适用于 AI 训练、内容抓取、阅读模式等。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url"],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "要转换的网页完整 URL（包含 https://）",
                    "example": "https://example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功转换",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "url": { "type": "string", "example": "https://example.com" },
                    "markdown": { "type": "string", "description": "转换后的 Markdown 文本" },
                    "remaining_quota": { "type": "integer", "example": 999 }
                  }
                }
              }
            }
          },
          "400": { "description": "请求参数错误" },
          "401": { "description": "API 密钥无效" },
          "429": { "description": "配额已用完" },
          "500": { "description": "服务器内部错误" },
          "502": { "description": "目标网页抓取失败" }
        },
        "security": [{ "apiKey": [] }]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "您的 API 密钥。测试密钥：test-key-123"
      }
    }
  }
}